<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.customers.title}">User title</title>
</head>
<header>
    <div th:insert="~{fragment :: locale}"></div>
</header>
<body>
<h1 th:text="#{page.customers.list.customers}">List of users</h1>
<ol>
    <li th:each="customer : ${customers}">
        <a th:href="@{'/customers/' + ${customer.customer_id} + '/orders'}"
           th:text="|${customer.personalInfo.first_name} ${customer.personalInfo.last_name}|">Info about customer</a>
    </li>
</ol>
<div th:insert="~{fragment :: logout}"></div>
</body>
</html>