<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.items.title}">Title</title>
</head>
<body>
<h1 th:text="#{page.items.items}"></h1>
<ul th:each="item : ${items}">
    <li th:with="isAdmin=${not session.isEmpty() and session.customer.email == 'admin'}">
        <b th:text="|#{page.items.items.name}: |">Text Item name</b>
        <a th:if="${isAdmin}" th:href="|@{'/items/' + ${item.item_id} + '/orders'}|"
           th:text="${item.name}">Item name with link</a>
        <span th:unless="${isAdmin}" th:text="${item.name}">Item name</span>
        <br>
        <b th:text="|#{page.items.count}: |">Count</b>
        <span th:text="${item.quantity_left}">Quantity left</span>
    </li>
</ul>
<div th:insert="~{fragment :: logout}"></div>
</body>
</html>