<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.login.title}">Title</title>
</head>
<header>
    <div th:insert="~{fragment :: locale}"></div>
</header>
<body>
<form action="/login" method="post" th:object="${customer}">
    <label for="email">
        <span th:text="|#{page.login.email}:|">Email</span>
        <input type="text" name="email" id="email" th:value="*{email}" required>
    </label> <br>
    <label for="password">
        <span th:text="|#{page.login.password}:|">Password</span>
        <input type="password" name="password" id="password" required>
    </label> <br>
    <button type="submit" th:text="#{page.login.login.button}">Login</button>
    <a href="/registration">
        <button type="button" th:text="#{page.login.register.button}">Register</button>
    </a>
</form>
</body>
</html>